@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;  
  margin-left: 9%;
}
li .active{
  color:orange
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:none;
}

ul .search 

{
  outline: none;
  border:none;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 5rem;
  box-shadow: 1px 2px 1px 1px gray;
  border-radius: 3px;
  text-align: center;
  padding: 1px;
}

.trending{
display:inline-block;
margin-top: 5rem;
}

.trending .trending1{
  display: grid;
  margin-top: 20px;
  margin-left: 60rem;
  text-align: right;
}

.trending .trending2{
  display: grid;
  margin-top: 22px;
  margin-left: 60rem;
  text-align: right;
}

.trending .trending3{
  display: grid;
  margin-top: 24px;
  margin-left: 5rem;
  text-align: right;
}

p{
  text-align: right;
}

.para{
font-size: xx-large;
font-weight: 600;
display: inline;
text-shadow: 1px 1px 1px gray;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.para h1{
  position: absolute;
  margin-top: 7rem;
  margin-left: 8rem;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(255, 164, 29);
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 1rem;
}

.primary-button1 {
  padding: 0.9rem 1.75rem;
  background-color: rgb(55, 255, 29);
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 3rem;
}

.continuous{
  position: absolute;
  text-align: left;
  margin-top: 15rem;
  margin-left: 2rem;
}

.image{
  margin-top:4rem ;
  margin-left: 28rem;
  position: absolute;
}